@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
    --attribution: hsl(228, 45%, 44%);
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Karla", sans-serif;
    font-weight: 400;

    background-color: var(--green-200);
    color: var(--grey-900);

    padding-top: 1.875rem;
    width: 100vw;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem;
}

.attribution a {
    color: var(--attribution);
}

fieldset {
    border: none;

    margin-bottom: 1.5625rem;
}

textarea {
    height: 15rem;
    overflow: scroll;
}

// input[type="text"],
// input[type="email"],
// textarea,
// .form__container {
//     width: 100%;
//     border-radius: 0.3125rem;
//     border: 0.0625rem solid var(--green-600);

//     min-height: 3.125rem;
// }

.form__border--normal {
    width: 100%;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--green-600);

    min-height: 3.125rem;
}

.form__border--error {
    width: 100%;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--red);

    min-height: 3.125rem;
}

input[type="text"],
input[type="email"],
.radio-buttons,
textarea {
    margin-top: 0.625rem;
}

input[type="text"],
input[type="email"] {
    padding: 1rem;
    font-size: 1rem;
}

.form {
    width: 92%;
    max-width: 29.375rem;

    margin-inline: auto;

    background-color: var(--white);

    padding: 1.5625rem;
    border-radius: 0.9375rem;

    @media only screen and (min-width: 59.375rem) {
        max-width: none;
        width: 51%;
    }

    &__required {
        color: var(--green-600);
        font-size: inherit;
        margin-inline-start: 0.125rem;
    }

    &__submit {
        width: 100%;
        height: 3.75rem;

        border: none;
        background-color: var(--green-600);
        border-radius: 0.5rem;

        font-size: 1rem;
        font-family: inherit;
        color: var(--white);
        font-weight: 600;

    }

    &__heading {
        font-size: 1.9rem;

        margin-bottom: 1.5625rem;
    }

    &__name {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;

        width: 100%;

        @media only screen and (min-width: 59.375rem) {
            flex-direction: row;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        padding-left: 1.5625rem;

        font-size: 1.1rem;

        &--input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &--checkbox {
            cursor: pointer;

            flex-shrink: 0;
            flex-grow: 0;

            width: 1.1875rem;
            height: 1.1875rem;

            border: 0.125rem solid var(--grey-500);
            border-radius: 50%;
        }
    }

    &__consent {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        &--input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &--checkbox {
            cursor: pointer;

            flex-shrink: 0;
            flex-grow: 0;

            width: 1.1875rem;
            height: 1.1875rem;

            border: 0.125rem solid var(--grey-500);
            border-radius: 0.125rem;
        }
    }

    &__error {
        padding-top: 0.625rem;
        color: var(--red);
    }

    &__message--text {
        padding: 1rem;
        font-size: 1rem;
        font-family: inherit;
    }
}

.form__consent--input:checked~.form__consent--checkbox {
    border: none;
    background-image: url(../public/images/icon-checkbox-check.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form__container--input:checked~.form__container--checkbox {
    border: none;
    background-image: url(../public/images/icon-radio-selected.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.0625rem;

    @media only screen and (min-width: 59.375rem) {
        flex-direction: row;
    }
}


@media only screen and (min-width: 59.375rem) {

    .form__name--first,
    .form__name--last {
        width: 50%;
    }
}